@import-normalize; /* bring in normalize.css styles */
form {
  border: 1px solid rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 250px;
  background-color: rgb(124, 118, 129);
  color: rgb(43, 205, 226);
}
p {
  padding: 0;
  margin: 0;
}
label {
  font-size: 15px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}
button {
  color: rgb(255, 0, 34);
}
li {
  display: flex;
  justify-content: space-between;
  list-style: none;

  gap: 10px;
}
h2 {
  font-size: 20px;
}
input {
  align-items: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 251, 0);
  color: white;
  text-align: center;
}
body {
  background-color: rgba(0, 0, 255, 0.479);
}
